<!--
<script type="text/javascript">
$.getScript(I4P_STATIC_URL+"js/project_sheet/block/detail-list.js");
</script>
-->

<link type="text/css" rel="stylesheet" href="static/css/project_sheet/block/detail-list.css" />

<div class="detail-item" ng-repeat="qa in project.project.questions">
	<h2 class="detail-question">
		<span>{{ qa.question }}</span>
		<a href="{% url project_sheet-instance-edit-question project_translation.slug q.id %}" class="i4p-button"
			data-toggle="i4p-editable-button"
			data-target="funnyprefix-answer-{{ q.id }}"
			>
			<span>Edit</span>
		</a>
	</h2>

	<p id="funnyprefix-answer-{{q.id}}" class="detail-answer"
	data-language-code="{{ LANGUAGE_CODE }}"
	data-toggle="i4p-editable"
	data-editable-id="answer-{{q.id}}"
	data-editable-trigger="dblclick"
	data-editable-tooltip="{% trans 'Double-click to edit' %}"
	data-editable-type="textarea"
	data-editable-load-url="{% if project_translation %}{% url project_sheet-ajax-field-load project_translation.slug %}{% else %}{% url project_sheet-ajax-field-load %}{% endif %}"
	data-editable-save-url="{% if project_translation %}{% url project_sheet-ajax-field-save project_translation.slug %}{%   else %}{% url project_sheet-ajax-field-save %}{% endif %}"
	data-editable-placeholder="{% trans "This field is blank. Don’t forget to complete it!"|capfirst %}"
	>
		{{ qa.answer }}
	</p>
</div>
