<!--
Parameters for this block
=========================

* project : I4pProject
-->

<link type="text/css" rel="stylesheet" href="static/css/project_sheet/block/project_card.css" />

<div class="project-card">
  <div ng-if="project.project.best_of" class="cocarde">&nbsp;</div>

    <div class="top">
      <a ng-if="project.project.pictures.length" ui-sref="project-detail({id: project.id})"><img height="120" width="200" ng-src="{{ project.project.pictures[0].thumb }}" alt="" /></a>
      <a ng-if="!project.project.pictures.length" ui-sref="project-detail({id: project.id})"><img height="120" width="200" src="static/images/project_sheet/project_card/img_projcard.jpg" alt="" /></a>

      <h2 title="{{ project.title }}" ng-cloak>{{ project.title }}</h2>
      <div class="progressbar"><span>{{ project.get_status_display }}</span></div>
      <p>
        {{ project.baseline }}
      </p>
    </div>
    <div class="bottom">
      <span ng-if="project.members.length" class="supported tipsed on" title="project with members">Project with members ({{project.members.count}})</span>
      <span ng-if="project.fans.length" class="supported faned tipsed on" title="project with fans">Project with fans ({{project.fans.count}})</span>
      <span ng-if="project.project.location.country" class="country"><img ng-src="{{ project.project.location.country }}" alt="" /> {{ project.project.location.country }}</span>
      <p>
            <span class="needs tipsed on" class="tipsed on" title="<strong>{{ need_count }}</strong> needs">{{ need_count }}</span>
      </p>
    </div>
    <div class="hover" showonhoverparent>
        <div class="name" title="{{ project.title }}">{{ project.title }}</div>
        <p>
            {{ project.about_section }}
        </p>
        <div class="more"><a ui-sref="project-detail({id: project.id})">See the project</a></div>
    </div>
</div>
