<!--

Parameters for this block
=========================

  * reference_block_extra_class : an extra CSS class for this block
-->

<link type="text/css" rel="stylesheet" href="static/css/project_sheet/block/reference-block.css" />

<div id="references" class="{{ reference_block_extra_class }} references-block clearfix">
	<a name="project-references"></a>
	<h2>
		<i class="sheet-references"></i>
		{% trans "References" %}</h2>

	<div class="row">
		<div class="references-links link-list span8" >
			{% if reference_formset %}
			<form method="POST" action="?">
			  {{ reference_formset }}
			  <input type="submit"/>
			</form>
			{% else %}
			<ul>
				{% if project_translation %}
				{% for ref in project_translation.master.references.all %}
				<li class="link-item">{{ ref.desc }}
				</li>
				{% empty %}
				<li>{% trans 'no references'|capfirst %}</li>
				{% endfor %}
				{% else %}
				<li>{% trans 'no references'|capfirst %}</li>
				{% endif %}
				<!-- <li class="link-item"><a href="#FIXME-ADD-REAL-LINK">Article sur classicnews</a></li> -->
			</ul>
			{% if project_translation %}
			<a
				href="{% url project_sheet-instance-edit-references project_translation.slug %}#references"
				class="button">
				<i class="action-add"></i>
				{% trans "Edit the references" %}
			</a>
			{% endif %}
			{% endif %}
		</div> <!-- .references-links link-list -->


	</div> <!-- .row -->
</div> <!-- .project-references -->
