<!--

Parameters for this block
=========================

  * reference_block_extra_class : an extra CSS class for this block
-->

<link type="text/css" rel="stylesheet" href="static/css/project_sheet/block/reference-block.css" />

<div id="references" class="{{ reference_block_extra_class }} references-block clearfix">
	<a name="project-references"></a>
	<h2>
		<i class="sheet-references"></i>
		References</h2>

	<div class="row">
		<div class="references-links link-list span8" >
			<!-- FIXME add Reference editing -->
			<!-- <form method="POST" action="?">
			  <input type="submit"/>
			</form> -->
			<ul>
				<li class="link-item" ng-if="project.project.references" ng-repeat="ref in project.project.references">{{ ref.desc }}
				</li>
				<li ng-if="!project.project.references">No references</li>
			</ul>
			<a href="#project_sheet-instance-edit-references project_translation.slug#references"
				class="button">
				<i class="action-add"></i>
				Edit the references
			</a>
		</div> <!-- .references-links link-list -->
	</div> <!-- .row -->
</div> <!-- .project-references -->
