<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="static/css/project_sheet/page/project_sheet.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<header class="masthead" style="background-image: url(https://farm3.staticflickr.com/2424/4230176889_0f5921403f_b_d.jpg);">
  <div class="stripes">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">

          <!-- Begin Navbar -->
          <div id="nav">
            <div class="navbar navbar-static">
              <div class="container">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="glyphicon glyphicon-bar"></span>
                  <span class="glyphicon glyphicon-bar"></span>
                  <span class="glyphicon glyphicon-bar"></span>
                </a>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="#">About</a></li>
                    <li><a href="#">Get Involved</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- /.navbar -->
          </div>


          <div class="info">
            <h6 class="tags" ng-show="project.tags"><span class="fa fa-tag"></span>
              <span ng-repeat="tag in project.tags">
                <span class="sep">/</span> <span>{{ tag }}</span>
              </span>
            </h6>
            <h1>{{ project.title }}</h1>
            <h2>{{ project.baseline }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Begin Body -->
<div class="container">
  <div class="row description">
    <div class="col-sm-3">
      <i class="fa fa-map-marker"></i>&nbsp;{{ project.location }}</br>
      <i class="fa fa-globe"></i>&nbsp;<a href="{{ project.website }}">{{ project.website }}</a>
    </div>
    <div class="col-sm-9">
      <div class="about">
        {{ project.description }}
      </div>

      <hr class="col-sm-12">

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  $('#nav').affix({
  offset: {
  top: 500
  }
  });

  });
</script>
