<link type="text/css" rel="stylesheet" href="static/css/project_sheet/block/project_list_project_card.css" />

<div class="project_list_project">
  <!--
    {% language project_translation.language_code %}
        <a href="{% url project_sheet-show project_translation.slug %}" class="project_list_project"  title="{{ project_translation.baseline}}">
    {% endlanguage %}
    -->
    <div ng-include="'views/project_sheet/obsolete/project_id_card.html'"/>

    <div class="project_infos">
      <div ng-if="project_translation.baseline" class="project_infos_baseline" title="{{ project_translation.baseline}}">{{ project_translation.baseline }}</div>

      <div class="project_infos_description" title="{{ project_translation.about_section }}">
        <span ng-if="project_translation.about_section">{{ project_translation.about_section }}</span>
        <span ng-ifnot="project_translation.about_section">There is no description for this project</span>
      </div>

    </div>
    <div class="clear"></div>
  </a>
</div>
